* {
    font-family: Helvetica;
    opacity: 0.9;
    background-color: black;
    color: seashell;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 69px;
    border-bottom: 1px solid seashell;
    font-size: 22px;
}

.navbar-links {
    display: flex;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.navbar-links a{
    margin: 0 10px;
}

.navbar img {
    width: auto;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.big-image {
    background-image: url("./images/img-mission-background.jpg");
    height: 700px;
    width: 1300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner { 
    width: 100%;
    height: auto;
    text-align: center;
}

.banner h2,h4 {
    align-items: center; 
    flex-wrap: wrap; 
}

.Heading {
    margin-top: 4%;
    text-align: center;
}
.Tea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* .photos {
    /* display: flex; */
    /* width: 1000px; */
    
/* } */ 

.tea-types {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-types img {
    width: 300px;
    height: 200px;
}

.type {
    text-align: center;
    margin: 0 10px;
}

.type p {
    margin-top: 10px;
}

.Location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./images/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 4%;
    align-items: center;
}

.Location-image {
    
    height: 500px;
    width: 1200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    opacity: 1;
    margin-top: 15px;

}

.Location h2 {
    background-color: transparent;
    text-align: center;
    margin-top: 200px;
}

.Location-name {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 300px;
    height: 250px;
    text-align: center;
    
}

.Location-name p {
    font-size: 18px;
}

.Contact-details {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Contact {
    text-align: center;
}

footer {
    text-align: left;
    margin-left: 20px;
}